# Node modules
frontend\node_modules

# Next.js build output
.next/

# Lock files
frontend\package-lock.json
yarn.lock

# Local env files
.env.local
.env.development
.env.production
.env.test

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*


